.groups {
  height:calc(100vh - 100px);
  background-color:#2f3e51;
}

.group {
  padding:20px 20px 0;
  &__group-name {
    font-size:15px;
    margin:20px 0 5px;
  }
  &__latest-message {
    font-size:11px;
    margin-bottom:40px;
  }
}